/* .card {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(194, 194, 194);
}

.back-button {
  float: right;
}

.edit-button {
  margin-right: 1rem;
  float: right;
} */
